<div class="container">
  <%= session[:cargo]%>
  <p>Bienvenido!
  <%if @current_user.cargo == 'personal de obra' %>
    <%= link_to "Mandar solicitud", "http://google.com" %>
  <%end%>
  <%if @current_user.cargo == 'bodeguero' %>
    <%= link_to "Registrar nuevo material", "/new_material" %>
    <%= link_to "Ver materiales", "/list_materials" %>
  <%end%>
</div>
