<div class="container">

  <p>Bienvenido! <%=session[:nombre]%>
  <%if @current_user.cargo == 'Personal de obra' %>
    <%= link_to "Mandar solicitud", "" %>
  <%end%>
  <%if @current_user.cargo == 'Bodeguero' %>
    <p><%= link_to "Registrar nuevo material", "/new_material" %>
    <p><%= link_to "Ver materiales", "/list_materials" %>
  <%end%>
  <p>

  <p>
</div>
